<% if @months.present? %>
  <div class='navigation-arrows'>
    <% if @months[:last][:number] > 0 %>
      <div><%= link_to '< ' + @months[:last][:name], url_for(params[:controller] + '?month=' + @months[:last][:number].to_s), 'data-turbolinks' => false %></div>
    <% else %>
      <div></div>
    <% end %>
    <h1><%= @months[:current][:name] + ' ' + Time.now.year.to_s %></h1>
    <% if @months[:next][:number] < 13 %>
      <div><%= link_to @months[:next][:name] + ' >', url_for(params[:controller] + '?month=' + @months[:next][:number].to_s), 'data-turbolinks' => false %></div>
    <% else %>
      <div></div>
    <% end %>
  </div>
<% end %>
<table class="tables">
  <thead>
    <tr>
      <% columns.each do |c| %>
        <th><%= c.humanize.titleize %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each_with_index do |model, i| %>
      <tr>
        <% columns.each do |c| %>
            <td><%= model.send(c) %></td>
        <% end %>
        <td>
          <button>
            <%= render partial: 'modal/show', locals: {
               form: @form_partial,
               modal_trigger: 'Edit',
               modal_title: 'Edit ' + model.model_name.name.titleize,
               modal_id: model.id,
               model: model
               }
             %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
