<% if @months.present? %>
  <div class='navigation-arrows'>
    <% if @months[:last][:number] > 0 %>
      <div><%= link_to '< ' + @months[:last][:name], url_for(params[:controller] + '?month=' + @months[:last][:number].to_s), 'data-turbolinks' => false %></div>
    <% else %>
      <div></div>
    <% end %>
    <h1><%= @months[:current][:name] + ' ' + Time.now.year.to_s %></h1>
    <% if @months[:next][:number] < 13 %>
      <div><%= link_to @months[:next][:name] + ' >', url_for(params[:controller] + '?month=' + @months[:next][:number].to_s), 'data-turbolinks' => false %></div>
    <% else %>
      <div></div>
    <% end %>
  </div>
<% end %>
<%= render 'modal/empty_modal' %>
<table class="tables datatable">
  <thead>
    <tr>
      <% columns.each do |c| %>
        <th><%= c.humanize.titleize %></th>
      <% end %>
      <% if params['controller'] == 'pending_expenses' %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% collection.each_with_index do |model, i| %>
      <tr
       class="<%= 'exceeded-budget' if (model.model_name.name == 'Budget') && (model.left.include? '-') %>"
       data-id='<%= model.id %>'
       data-model-name='<%= model.class.name %>'
       data-form-controller='<%= params[:controller] %>'
      >
        <% columns.each do |c| %>
            <td><%= model.send(c) %></td>
        <% end %>
        <% if params['controller'] == 'pending_expenses' %>
          <td>
            <%= button_to 'Clear', clear_pending_expense_path(model), data: { confirm: 'Clear this expense and log it to your account?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
