<% if @month.present? %>
  <div class='navigation-arrows'>
    <div><%= link_to '< Previous', url_for(params[:controller] + '?month=' + (@month.to_i - 1).to_s) %></div>
    <div><%= link_to 'Next >', url_for(params[:controller] + '?month=' + (@month.to_i + 1).to_s) %></div>
  </div>
<% end %>
<table class="tables">
  <thead>
    <tr>
      <% columns.each do |c| %>
        <th><%= c.humanize.titleize %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each_with_index do |model, i| %>
      <tr>
        <% columns.each do |c| %>
            <td><%= model.send(c) %></td>
        <% end %>
        <td>
          <button>
            <%= render partial: 'modal/show', locals: {
               form: @form_partial,
               modal_trigger: 'Edit',
               modal_title: 'Edit ' + model.model_name.name.titleize,
               modal_id: model.id,
               model: model
               }
             %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
