<h1 class='page-header'>Overview (<%= Time.now.beginning_of_month.strftime('%m/%d/%y') %> - <%= Time.now.end_of_month.strftime('%m/%d/%y') %>)</h1>
<table>
  <tr>
    GENERAL
  </tr>
  <tr>
    <td>
      Expense
    </td>
    <td>
      <%= number_to_currency @total_expenses_this_month %>
    </td>
  </tr>
  <tr>
    <td>
      Income
    </td>
    <td>
      <%= number_to_currency @income_this_month %>
    </td>
  </tr>
  <tr>
    <td>
      Net Worth for Month
    </td>
    <td>
      <%= number_to_currency @net_worth_for_month %>
    </td>
  </tr>
</table>

<table>
  <tr>
    BUDGET
  </tr>
  <tr>
    <td>
      Total for Month
    </td>
    <td>
      <%= number_to_currency @total_for_month %>
    </td>
  </tr>
  <tr>
    <td>
      Spent
    </td>
    <td>
      <%= number_to_currency @total_spent %>
    </td>
  </tr>
  <tr>
    <td>
      Left
    </td>
    <td>
      <%= number_to_currency(@total_for_month - @total_spent) %>
    </td>
  </tr>
  <tr>
    <td>
      Top Spent
    </td>
    <td>
      TODO
    </td>
  </tr>
  <tr>
    <td>
      Top Left
    </td>
    <td>
      TODO
    </td>
  </tr>
</table>

<table>
  CATEGORIES
  <tr>
    <td>
      Category
    </td>
    <td>
      Percentage of Montly Expenses
    </td>
    <td>
      Amount
    </td>
  </tr>
  <% @categories.each do |c| %>
    <tr>
      <td>
        <%= c.name %>
      </td>
      <td>
        <%= Calculator.percentage_of(c.summed_expenses, @total_expenses_this_month) %>%
      </td>
      <td>
        <%= number_to_currency c.summed_expenses %>
      </td>
    </tr>
  <% end %>
</table>


