<h1 class='page-header'>
  <span>
    Overview (<%= @year %>)
  </span>
  <%= render partial: 'stats/show' %>
</h1>

<select name="month" id="year-select" onchange="" size="1">
    <option selected value='' disabled><%= @year %></option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
</select>

<h3>Monthly Total Income | Expenses | Profits</h3>
<div id='expenses-chart' data-chart-url=<%= "/overviews/data?year=#{@year}" %>></div>

<h3>Monthly Profitability</h3>
<div id='profitability-chart'></div>

<h3>Total Net Worth</h3>
<div id='net-worth-chart'></div>


<h1>Summary (<%= Time.now.beginning_of_month.strftime('%m/%d/%y') %> - <%= Time.now.end_of_month.strftime('%m/%d/%y') %>)</h1>

<table>
  <tr>
    BUDGET
  </tr>
  <tr>
    <td>
      Total for Month
    </td>
    <td>
      <%= number_to_currency @total_for_month %>
    </td>
  </tr>
  <tr>
    <td>
      Spent
    </td>
    <td>
      <%= number_to_currency @total_spent %>
    </td>
  </tr>
  <tr>
    <td>
      Left
    </td>
    <td>
      <%= number_to_currency(@total_for_month - @total_spent) %>
    </td>
  </tr>
</table>
