<h1 class='page-header'>Overview</h1>

<h3>Monthly Total Income | Expenses | Profits</h3>
<div id='expenses-chart'></div>

<h3>Monthly Profitability</h3>
<div id='profitability-chart'></div>

<h3>Total Net Worth</h3>
<div id='net-worth-chart'></div>


<h1>Summary (<%= Time.now.beginning_of_month.strftime('%m/%d/%y') %> - <%= Time.now.end_of_month.strftime('%m/%d/%y') %>)</h1>
<table>
  <tr>
    GENERAL
  </tr>
  <tr>
    <td>
      Average Profitability
    </td>
    <td>
      <%= String(@average_profitability) + "%" %>
    </td>
  </tr>
  <tr>
    <td>
      Expense
    </td>
    <td>
      <%= number_to_currency @total_expenses_this_month %>
    </td>
  </tr>
  <tr>
    <td>
      Income
    </td>
    <td>
      <%= number_to_currency @income_this_month %>
    </td>
  </tr>
  <tr>
    <td>
      Profit for Month
    </td>
    <td>
      <%= number_to_currency @net_worth_for_month %>
    </td>
  </tr>
  <tr>
    <td>
      Current Net Worth
    </td>
    <td>
      <%= number_to_currency (current_user.beginning_cash_on_hand + @profits.sum).round(2) %>
    </td>
  </tr>
</table>

<table>
  <tr>
    BUDGET
  </tr>
  <tr>
    <td>
      Total for Month
    </td>
    <td>
      <%= number_to_currency @total_for_month %>
    </td>
  </tr>
  <tr>
    <td>
      Spent
    </td>
    <td>
      <%= number_to_currency @total_spent %>
    </td>
  </tr>
  <tr>
    <td>
      Left
    </td>
    <td>
      <%= number_to_currency(@total_for_month - @total_spent) %>
    </td>
  </tr>
</table>
