<h1>Edit Budget</h1>
<%= form_for model do |f| %>
  <%= f.label :amount %>
  <%= f.text_field :amount, type: :number, placeholder: '$1.50' %>
  <%= collection_select(:budget, :expense_category_id, @categories, :id, :name, prompt: 'Select a category') %>
  <%= f.submit %>
<% end %>


