<h1 class='page-header'>
  <span>
    Budget (<%= @total_items %>)
    <%= render partial: 'modal/show',
      locals: {
        form: @form_partial,
        modal_trigger: 'Create New +',
        modal_title: 'New Budget',
        modal_id: 'new',
        model: @form
      }
    %>
  </span>
  <%= render partial: 'stats/show' %>
</h1>

<h1>Budget Overview</h1>
<%= render partial: 'table/show', locals: {
  columns: @columns,
  collection: @budgets
  }
%>

<hr />

<% if @unbudgeted_categories.any? %>
  <h2>Unbudgeted Categories</h2>
  <table>
  <% @unbudgeted_categories.each_with_index do |c, index| %>
    <tr>
      <td><%= c %><td>
      <td>
        <%= render partial: 'modal/show',
          locals: {
            form: @form_partial,
            modal_trigger: 'Create +',
            modal_title: 'Create Budget For ' + c,
            modal_id: c + "_" + String(index),
            model: Budget.new(expense_category: @categories.find_by(name: c))
          }
        %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>

<h1>Budget Item Proportion To Total Budget</h1>
<%= pie_chart @chart_data %>

<h1>Total Expenses Per Budget Item</h1>
<%= pie_chart @expense_data %>
