<h1>
  <span>
    Budget (<%= @total_items %>)
    <%= render partial: 'modal/show',
      locals: {
        form: 'budgets/new',
        modal_trigger: 'Create New +',
        modal_title: 'New Budget'
      }
    %>
  </span>
</h1>

<table>
  <tr>
    <td>Category</td>
    <td>Spent</td>
    <td>Left</td>
    <td>Budgeted Amount</td>
    <td>% Spent</td>
    <td></td>
    <td></td>
  </tr>
  <% @budgets.each do |b| %>
    <tr class='index-form'>
      <%= form_for b do |f| %>
        <%= f.text_field :id, type: :hidden, value: b.id %>
        <td>
          <%= link_to b.expense_category.name, edit_expense_category_path(b.expense_category) %>
        </td>
        <td>
          <%= number_to_currency b.expense_category.summed_expenses %>
        </td>
        <td>
          <%= number_to_currency(b.amount - b.expense_category.summed_expenses) %>
        </td>
        <td>
          <%= number_to_currency b.amount %>
        </td>
        <td>
          <%= Calculator.percentage_of(b.expense_category.summed_expenses, b.amount) %>%
        </td>
        <td>
          <div><%= link_to 'Edit', edit_budget_path(b) %></div>
        </td>
        <td>
          <div><%= link_to 'X', {action: :destroy, id: b.id}, method: :delete, data: { confirm: 'Are you sure?'} %></div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
