<h1 class='page-header'>
  <span>
    <%= 'Archived ' if params[:archived] %> Recurring Expenses (<%= @total_items %>)
    <%= render partial: 'modal/show',
      locals: {
        form: @form_partial,
        modal_trigger: 'Create New +',
        modal_title: 'New Recurring Expense',
        modal_id: 'new',
        model: @form
      }
    %>
    <% if params[:archived] %>
      <%= link_to 'View Recurring Expenses', recurring_expenses_path, data: { turbolink: false } %>
    <% else %>
      <%= link_to 'View Archived Recurring Expenses', recurring_expenses_path(archived: true), data: { turbolink: false } %>
    <% end %>
  </span>
  <%= render partial: 'stats/show' %>
</h1>

<%= render partial: 'table/show', locals: {
  columns: @columns,
  collection: @expenses
  }
%>
