<h1 class='page-header'>
  <span>
    <%= 'Archived ' if params[:archived] %> Recurring Expenses (<%= @total_items %>)
    ||
    <% if params[:archived] %>
      <%= link_to 'View Active', recurring_expenses_path, 'data-turbolinks': false %>
    <% else %>
      <%= link_to 'View Inactive', recurring_expenses_path(archived: true), 'data-turbolinks': false %>
    <% end %>
    <%= render partial: 'modal/show',
      locals: {
        form: @form_partial,
        modal_trigger: 'Create New +',
        modal_title: 'New Recurring Expense',
        modal_id: 'new',
        model: @form
      }
    %>
  </span>
  <%= render partial: 'stats/show' %>
</h1>

<%= render partial: 'table/show', locals: {
  columns: @columns,
  collection: @expenses
  }
%>
