<h1>
  <span>
    Recurring Expenses (<%= @total_items %>)
    <%= render partial: 'modal/show',
      locals: {
        form: 'recurring_expenses/new',
        modal_trigger: 'Create New +',
        modal_title: 'New Recurring Expense'
      }
    %>
  </span>
</h1>

<table data-role="table" class="ui-responsive">
  <thead>
    <tr>
      <td class='date-column'>Date</td>
      <td>Amount</td>
      <td>Vendor</td>
      <td>Category</td>
      <td>Frequency</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr class='index-form'>
        <%= form_for expense do |f| %>
          <%= f.text_field :id, type: :hidden, value: expense.id %>
          <td class='date-column'>
            <div class='row-item'>
              <%= expense.created_at.strftime('%m-%d-%Y') %>
            </div>
            <%= f.date_field :created_at, class: 'created_at', id: "recurring_expense_created_at_#{expense.id}" %>
          </td>
          <td>
            <div class='row-item'>
              <%= number_to_currency expense.amount %>
            </div>
            <%= f.text_field :amount, type: :number, step: '0.01', placeholder: '$1.50' %>
          </td>
          <td>
            <div class='row-item'>
              <%= link_to expense.vendor.name, edit_vendor_path(expense.vendor) %>
            </div>
            <%= collection_select(:recurring_expense, :vendor_id, Vendor.all, :id, :name, prompt: 'Select vendor', selected: expense.vendor.id) %>
          </td>
          <td>
            <div class='row-item'>
              <%= link_to expense.expense_category.name, edit_expense_category_path(expense.expense_category) %>
            </div>
            <%= collection_select(:recurring_expense, :expense_category_id, ExpenseCategory.all, :id, :name, prompt: 'Select category', selected: expense.expense_category.id) %>
          </td>
          <td>
            <div class='row-item'>
              <%= expense.frequency %>
            </div>
            <%= collection_select(:recurring_expense, :frequency, @frequencies, :second, :first, prompt: 'Select frequency', selected: @frequencies[expense.frequency]) %>
          </td>
          <td class='form-actions'>
            <div class='edit'>&#9998;</div>
            <div class='cancel'>&#9995;</div>
            <div class='update'>&#10003</div>
            <div class='delete'><%= link_to 'X', {action: :destroy, id: expense.id }, method: :delete, data: { confirm: 'Are you sure?'} %></div>
            <div class='update-btn'><%= f.submit %></div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


