<%= form_for @form do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Category name' %>
  <%= f.submit %>
<% end %>
<table>
  <tr>
    <td>Name</td>
    <td></td>
    <td></td>
  </tr>
  <% @categories.order('name asc').each do |c| %>
    <tr>
      <td>
        <%= c.name %>
      </td>
      <td>
        <%= link_to 'EDIT', edit_category_path(c) %>
      </td>
      <td>
        <%= link_to 'DELETE', { action: :destroy, id: c.id}, method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
