<%= form_for @form do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Category name' %>
  <%= f.submit %>
<% end %>
<table>
  <tr>
    <td>Name</td>
    <td></td>
    <td></td>
  </tr>
  <% @categories.order('name asc').each do |c| %>
    <tr class='categories-index-form'>
      <%= form_for c do |f| %>
        <%= f.text_field :id, type: :hidden, value: c.id %>
        <td>
          <div class='row-item'>
            <%= c.name %>
          </div>
          <%= f.text_field :name, placeholder: 'Category name' %>
        </td>
        <td>
          <div class='edit-category'>EDIT</div>
          <div class='cancel-edit'>CANCEL</div>
          <div class='update-category'>UPDATE</div>
          <div class='update-btn'><%= f.submit %></div>
        </td>
        <td>
          <%= link_to 'DELETE', { action: :destroy, id: c.id}, method: :delete %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
