<%= search_form_for @q do |f| %>
  <%= f.label :category_name_or_vendor_name_cont %>
  <%= f.search_field :category_name_or_vendor_name_cont %>
  <%= f.submit %>
<% end %>
<table>
  <tr>
    <td>Date</td>
    <td>Amount</td>
    <td>Vendor</td>
    <td>Category</td>
  </tr>
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.created_at %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.vendor.name %></td>
      <td><%= expense.category.name %></td>
    </tr>
  <% end %>
</table>


