<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='nav-wrapper'>
      <button type="button" class="js-menu-trigger sliding-panel-button">
        |||
      </button>
    </div>

    <nav class="js-menu sliding-panel-content">
      <ul>
        <li><%= link_to 'Expenses', expenses_path, 'data-turbolinks' => false %></li>
        <li><%= link_to 'Categories', categories_path, 'data-turbolinks' => false %></li>
        <li><%= link_to 'Vendors', vendors_path, 'data-turbolinks' => false %></li>
        <li><%= link_to 'New Expense', new_expense_path, 'data-turbolinks' => false %></li>
      </ul>
    </nav>

      <div class="js-menu-screen sliding-panel-fade-screen"></div>


    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
  </body>
</html>
