<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='navbar'>
      <ol>
        <li><%= link_to 'Expenses', expenses_path %></li>
        <li><%= link_to 'Categories', categories_path %></li>
      </ol>
    </div>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
  </body>
</html>
